body {
}

.overlay {
    position: absolute;
    bottom: 3%;
    left: calc(50% - 129px); /* elementWidth = 258 => 258/2 => 129px*/
}

#VRButton {
    left: 2%; /*left: calc(15% - 75px);*/
    bottom: 2%;
}